# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Virtualenvs
.venv/
venv/
env/

# IDEs
.vscode/
.idea/

# Data and outputs
data/
results/
outputs/
results/eval_outputs/
# If you want to keep the results folder for screenshots/README, move specific files out of results/ before pushing.

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Secrets (if any)
*.pem
*.key
